{
    "bracketSameLine": false,
    "bracketSpacing": true,
    "printWidth": 99999,
    "semi": false,
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-tailwindcss"]
}
